* {
    -fx-pink-color: #e92063;
    -fx-dark-gray-color: #3a3937;
}

.slider {
    -fx-track-color: -fx-dark-gray-color;
}

.slider .track {
    -fx-pref-height: 4.5;
}

.thumb-active-color {
    -fx-background-color: white !important;
}

.slider .thumb {
    -fx-background-color: transparent;
    -fx-pref-height: 10;
    -fx-pref-width: 10;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.toggle-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#playSongButton .ikonli-font-icon {
    -fx-icon-code: "mdi2p-play";
    -fx-icon-color: -fx-pink-color;
    -fx-icon-size: 35;
}

#playSongButton:selected .ikonli-font-icon {
    -fx-icon-code: "mdi2p-pause";
    -fx-icon-color: -fx-pink-color;
    -fx-icon-size: 35;
}

#shuffleButton .ikonli-font-icon {
    -fx-icon-code: "mdi2s-shuffle-variant";
    -fx-icon-size: 35;
}

#shuffleButton:selected .ikonli-font-icon {
    -fx-icon-color: -fx-pink-color;
}

#previousSongButton .ikonli-font-icon {
    -fx-icon-code: "mdi2s-skip-previous";
    -fx-icon-color: -fx-pink-color;
    -fx-icon-size: 35;
}

#nextSongButton .ikonli-font-icon {
    -fx-icon-code: "mdi2s-skip-next";
    -fx-icon-color: -fx-pink-color;
    -fx-icon-size: 35;
}

#repeatSongButton .ikonli-font-icon  {
    -fx-icon-code: "mdi2r-repeat";
    -fx-icon-size: 35;
}

#repeatSongButton:selected .ikonli-font-icon {
    -fx-icon-color: -fx-pink-color;
}

#folderButton .ikonli-font-icon {
    -fx-icon-code: "mdi2f-folder-open";
    -fx-icon-color: -fx-pink-color;
    -fx-icon-size: 35;
}

#albumImage {
    -fx-effect: dropshadow(gaussian, grey, 30, 0.5, 0, 0);
}

#controlPane {
    -fx-background-color: linear-gradient(to top, #d5fbfe, #f3e4df);
}

#volumeSlider .track {
    -fx-background-color: linear-gradient(to right, -fx-track-color 50%, #a9a9a9 50%) !important;
}

#durationSlider .track {
    -fx-background-color: linear-gradient(to right, -fx-track-color 0%, #a9a9a9 0%) !important;
}
