.slider .track {
    -fx-control-inner-background: #353d3f;
    -fx-pref-height: 7;
}

.slider .thumb {
    -fx-background-color: white;
    -fx-pref-height: 14;
    -fx-pref-width: 14;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.toggle-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#shuffleButton {
    -fx-background-image: url("images/icon_shuffle.png");
    -fx-background-size: 40px;
}

#previousSongButton {
    -fx-background-image: url("images/icon_previous.png");
    -fx-background-size: 40px;
}

#nextSongButton {
    -fx-background-image: url("images/icon_next.png");
    -fx-background-size: 40px;
}

#repeatSongButton {
    -fx-background-image: url("images/icon_repeat.png");
    -fx-background-size: 40px;
}

#folderButton {
    -fx-background-image: url("images/icon_folder.png");
    -fx-background-size: 40px;
}

#albumImage {
    -fx-effect: dropshadow(gaussian, grey, 30, 0.5, 0, 0);
}

#controlPane {
    -fx-background-color: linear-gradient(to top, #d5fbfe, #f3e4df);
}
